body {
    background: black;
    color: white;
    justify-content: center;
    
}
.heading {
    text-decoration: underline;
}
.content {
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
    width: 50%;
}
p {
    display: inline-block;
}